{% extends "base.html" %}

{% block title %}Request A Payment | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="large-6 large-centered columns">
			<h1>Email Sent!</h1>
			<p>An email was sent to <strong>{{ request_form.recepient.email }}</strong>. When the recepient opens this sent email, he'll be able to add his credit card information and fullfill your payment.<p>

			<h3>Here's all the stuff you can buy with all the $$$ you'll get!</h3>

			<p>A fancy swimsuit:</p>
			<img src="http://ecx.images-amazon.com/images/I/812f6%2BoyE4L._UY550_.jpg">

			<p>A vacuum cleaner</p>
			<img src="http://ecx.images-amazon.com/images/I/71uEZ9gg6dL._SY450_.jpg">
		</div>
	</div>
{% endblock %}