{% extends "base.html" %}

{% block title %}Request A Payment | {{ block.super }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="large-6 large-centered columns">

			<h1>Request a Payment</h1>
			<form id="main-request-form" action="{% url 'home' %}" method="post">
				{% csrf_token %}
				{{ sender_form }}
				{{ recepient_form }}
				{{ request_form }}

				<p><span class="label secondary">Regular LabelIf you're testing use these credentials: 124003116 / 1424458326</span></p>

				<input type="submit" class="button expand success" value="Submit" />
			</form>
		</div>
	</div>
{% endblock %}