@import "settings";
@import "foundation";

@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";

body {
	background: #E7F7E9; 
}

#footer {
	margin-top: 50px; 
	margin-bottom: 20px; 
}

h2 {
	font-weight: 200; 
	text-transform: uppercase; 
	color: #368a54; 
	letter-spacing: 0.1em;
}

#header {
	text-align: center;
	margin-top: 30px;  
	margin-bottom: 15px; 
	.columns {
		border-bottom: solid 1px rgba(162, 196, 166, 0.5);
	}
}

h1 {
	font-weight: bold;
	text-align: center; 
}

#footer {
	p {
		font-size: 0.8em; 
		text-align: center;
	}
}

.button {
	border-radius: $global-radius;
}

label {
	font-size: 0.675rem;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.label.secondary {
	border: solid 1px rgba(50,50,50,.2); 
	border-radius: 3px; 
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
